# Pastas ocultas
.Balanceado/
.weights/

# Arquivos
.Balanceado.zip
MQIS/
FQIS/

# Diretórios do projeto
Modelos/
test_processed/
teste_ensemble_results/
test_ensemble/
arquiteturas/
weights/
FQS/

# Pesos de modelos
*.pt
*.pth
*.ckpt
